<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level correlationId=%X{correlationId} recordId=%X{recordId} eventType=%X{eventType} topic=%X{kafkaTopic} partition=%X{kafkaPartition} offset=%X{kafkaOffset} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>
